name: nekoton_repository
description: Nekoton repository package
version: 0.15.0
repository: https://github.com/broxus/nekoton_repository

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  async: ^2.11.0
  collection: ^1.17.0
  encrypted_storage: ^0.1.1
  equatable: ^2.0.5
  flutter:
    sdk: flutter
  flutter_nekoton_bridge: ^1.19.0
  freezed_annotation: ^2.2.0
  get_it: ^7.6.0
  injectable: ^2.1.0
  logging: ^1.1.1
  rxdart: ^0.27.7

dev_dependencies:
  broxus_flutter_analysis:
    git:
      url: https://github.com/broxus/flutter_templates.git
      ref: broxus_flutter_analysis-v1.0.0
  build_runner: ^2.4.5
  dart_code_metrics: ^5.6.0
  flutter_test:
    sdk: flutter
  freezed: ^2.3.2
  injectable_generator: ^2.1.3
  json_serializable: ^6.6.1
  melos: ^3.1.0
  mocktail: ">=0.3.0 <2.0.0"
  tuple: ^2.0.1
  very_good_analysis: ^5.0.0+1
